<a href="https://ndownloader.figshare.com/files/3672549" class="btn btn-success">
Download NEON Teaching Data Subset: Location Boundary Shapefiles</a>

<p>The vector data used in this lesson were collected at the 
<a href="http://www.neoninc.org/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="http://www.neoninc.org/science-design/field-sites/harvard-forest" target="_blank"> Harvard Forest field site.</a> 
US Country and State Boundary layers are from the 
<a href="https://www.census.gov/geo/maps-data/data/tiger-cart-boundary.html" target="_blank">US Census Bureau</a> 
</p>